{% extends "layout/__base.html" %}
{% block title %}Functional Blocks{% endblock title %}

{% block closure_base %}
  {% block closure_loader_scripts %}
    {{ super() }}
  {% endblock closure_loader_scripts %}
{% endblock closure_base %}

{% block page_js %}  
  <script>
    goog.require('goog.array');
    goog.require('goog.dom');
    goog.require('goog.dom.dataset');
    goog.require('goog.events');
    goog.require('goog.net.XhrIo');
    goog.require('goog.ui.Button');
    goog.require('goog.ui.FlatButtonRenderer');
    goog.require('goog.ui.LabelInput');
    goog.require('goog.ui.LinkButtonRenderer');
    goog.require('goog.Uri.QueryData');
  </script>
{% endblock page_js %}  

{% block body %}
<div class="ink-grid">
  <div class="column-group">
    <span class="greeting">{{ greeting }}</span>
  </div>
  <ul class="program-list">
    <li class="program-list-item list-heading">
      <span class="program-name goog-inline-block">Program Name</span>
      <span class="program-last-modified goog-inline-block">Last Modified</span>
      <span class="goog-inline-block">Delete</span>
    </li>
    {% for program, url in programs_and_urls %}
      <li class="program-list-item">
        <span class="program-name goog-inline-block">
          <div class="goog-link-button goog-inline-block" 
               data-editor-url="{{ url|safe }}"
               data-program-name="{{ program.name }}">{{ program.name }}</div>
        </span>
        <span class="program-last-modified goog-inline-block">
          {{ program.last_modified|datetimeformat }}
        </span>
        <div class="goog-flat-button goog-inline-block delete-button" title="Delete this program">
          <i class="icon-remove"></i>
        </div>
      </li>
    {% endfor %}
    <li class="program-list-item program-create-new">
      <span class="program-name goog-inline-block">
        <input id="create-program-name" label="program name">
      </span>
      <span class="program-last-modified goog-inline-block">
        <div id="create-program-button" class="goog-flat-button goog-inline-block">
          Create this program
        </div>
      </span>
    </li>
  </ul>
  <script>
    var changeEvents = [goog.events.EventType.PROPERTYCHANGE,
                        goog.events.EventType.KEYUP,
                        goog.events.EventType.INPUT,
                        goog.events.EventType.PASTE];


    // Deleting existing programs
    var deleteProgramXhr = new goog.net.XhrIo();

    goog.array.forEach(goog.dom.getElementsByClass('delete-button'), function(elem) {
      var deleteButton = new goog.ui.Button(null, goog.ui.FlatButtonRenderer.getInstance());
      deleteButton.decorate(elem);
      goog.events.listen(deleteButton, goog.ui.Component.EventType.ACTION, function(e) {
        var listItemLi = goog.dom.getAncestorByClass(deleteButton.getContentElement(), 'program-list-item');
        var programNameDiv = goog.dom.getFirstElementChild(goog.dom.getFirstElementChild(listItemLi));
        var programName = goog.dom.dataset.get(programNameDiv, 'programName');
        var deleteProgramUrl = '/programs/' + programName;

        deleteButton.setEnabled(false);

        goog.events.listen(deleteProgramXhr, goog.net.EventType.COMPLETE, function(e) {
          if(deleteProgramXhr.isSuccess()) {
            goog.dom.removeNode(listItemLi);
          } else {
            throw 'Failed to delete program';
          }
        });

        deleteProgramXhr.send(deleteProgramUrl, 'DELETE');
      });

    });

    var currentProgramNames = [];
    goog.array.forEach(goog.dom.getElementsByClass('goog-link-button'), function(elem) { 
      var button = new goog.ui.Button(null, goog.ui.LinkButtonRenderer.getInstance());
      button.decorate(elem);
      var editorPageUrl = goog.dom.dataset.get(elem, 'editorUrl');
      currentProgramNames.push(goog.dom.dataset.get(elem, 'programName'));
      goog.events.listen(button, goog.ui.Component.EventType.ACTION, function(e) { 
        window.location = editorPageUrl;
      });
    });

    // Set up create program row in table
    var createProgramButton = new goog.ui.Button(null, goog.ui.FlatButtonRenderer.getInstance());
    createProgramButton.decorate(goog.dom.getElement('create-program-button'));

    var createProgramName = new goog.ui.LabelInput();
    createProgramName.decorate(goog.dom.getElement('create-program-name'));

    // Don't let users create multiple programs with the same name
    goog.events.listen(createProgramName.getContentElement(), changeEvents, function(e) {
      var programName = createProgramName.getValue();
      if(goog.array.contains(currentProgramNames, programName)) {
        createProgramButton.setEnabled(false);
      } else {
        createProgramButton.setEnabled(true);
      }
    });
    

    // Creating new programs
    var postNewProgram = new goog.net.XhrIo();
    goog.events.listen(createProgramButton, goog.ui.Component.EventType.ACTION, function(e) { 
      var programName = createProgramName.getValue();
      if(goog.array.contains(currentProgramNames, programName)) { 
        createProgramName.reset();
      } else { 
        var queryData = new goog.Uri.QueryData();
        queryData.add('program-name', programName);
        createProgramButton.setEnabled(false);
        goog.events.listenOnce(postNewProgram, goog.net.EventType.COMPLETE, function(e) {
          if(postNewProgram.isSuccess()) {
            window.location.href = postNewProgram.getResponseText();
          } else { 
            throw 'Failed to create a new program';
          }
        });
        postNewProgram.send('/', 'POST', queryData.toString());
      }
    });    
  </script>
</div>
{% endblock body %}
  
