/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */

/*
 * Styling for flat buttons created by goog.ui.FlatButtonRenderer.
 *
 * @author brianp@google.com (Brian Peterson)
 */

.evaluate-button {
  position: relative;
  /*width: 20ex;*/
  margin: 2px;
  border: 2px solid #000;
  padding: 2px 6px;
  font: normal 13px "Trebuchet MS", Tahoma, Arial, sans-serif;
  color: #fff;
  background-color: #32cd32;
  cursor: pointer;
  outline: none;
}

.evaluate-button.halt-button {
    background-color: #bb0000;
}

.evaluate-button-hover.halt-button {
    color: #8c1717;
    border-color: #8c1717;
    background-color: #bbb;
}

/* State: disabled. */
.evaluate-button-disabled {
  border-color: #888;
  color: #888;
  background-color: #ccc;
  cursor: default;
}

/* State: hover. */
.evaluate-button-hover {
  border-color: #215e21;
  color: #215e21;
  background-color: #bbb;
}

/* State: active, selected, checked. */
.evaluate-button-active,
.evaluate-button-selected,
.evaluate-button-checked {
  border-color: #5b4169;
  color: #5b4169;
  background-color: #d1a8ea;
}

/* State: focused. */
.evaluate-button-focused {
  border-color: #5b4169;
}

/* Pill (collapsed border) styles. */
.evaluate-button-collapse-right {
  margin-right: 0;
}

.evaluate-button-collapse-left {
  margin-left: 0;
  border-left: none;
}