/* Base class for all icon elements. */
.icon {
    height: 16px;
    width: 16px;
    margin: 0 1px;
    background-image: url('/closure-library/closure/goog/images/toolbar_icons.gif');
    background-repeat: no-repeat;
    vertical-align: middle;
}

/* "Highlight" icon. */
.highlight-icon{
    background-position: -64px;
}

/* "Insert Image" icon. */
.insert-image-icon {
    background-position: -80px;
}

/* Custom style for the "default" button. */
.default-button {
    font-weight: bold;
}