@import url('button.css');
@import url('common.css');
@import url('custombutton.css');
@import url('dialog.css');
@import url('evaluatebutton.css');
@import url('flatbutton.css');
@import url('flatmenubutton.css');
@import url('menu.css');
@import url('menubutton.css');
@import url('menuitem.css');
@import url('removefunctionbutton.css');
@import url('roundedtab.css');
@import url('splitpane.css');
@import url('tab.css');
@import url('tabbar.css');


html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font: normal 13px "Trebuchet MS", Tahoma, Arial, sans-serif;
}

div {
  margin: 0;
  padding: 0;
}

iframe#blockly_main {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 100%;
  border: 6px #003 solid;
  box-sizing: border-box;
}

iframe {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 100%;
  border: 6px #003 solid;
  box-sizing: border-box;
}

div.container {
  overflow: auto;
  display: block;
}

div.hidden_container {
  display: none;
}

#workspace_content {
  overflow: auto;
}

.row, .col { overflow: hidden; position: absolute; }
.row { left: 0; right: 0; }
.col { top: 0; bottom: 0; }
.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }

.header.row {
  height: 25px;
  top: 0;
}

.body.row {
  top: 27px;
  bottom: 0;
}

#create_function_button {
  float: left;
}

#evaluate_expression_button {
  float: left;
}

#evaluation_results {
  /* float: right; */
  background-color: lightpink;
  border: 2px solid black;
  margin: 2px;
  padding: 2px;
  /* height: 15px; */

}