<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
  <title>{% block title %}Functional Blocks{% endblock title %}</title>

  {% block closure_base %}
    {% if DEVELOPMENT %}
      {% block closure_loader_scripts %}
        <script type="text/javascript" src="/closure-library/closure/goog/base.js"></script>
        <script type="text/javascript" src="/ray-deps.js"></script>
      {% endblock closure_loader_scripts %}
    {% endif %}
  {% endblock closure_base %}

  {% block ink_css %}
    <link rel="stylesheet" type="text/css" href="/ink-2.2.0/css/ink-custom.css">
  {% endblock ink_css %}
    
  {% block styles %}
    {% if USE_LESS %}
      <link rel="stylesheet/less" type="text/css" href="/ray/ui/less/ui.less">
      <script type="text/javascript" src="/less.js"></script>
      <!--<script type="text/javascript">less.watch(true);</script>-->
    {% else %}
      <link rel="stylesheet" type="text/css" href="/ray/ui/css/ui.css">
    {% endif %}
  {% endblock styles %}

  {% block page_js %}
  {% endblock page_js %}

</head>
<body>
  {% block body %}
  {% endblock body %}
</body>
</html>
{% endautoescape %}
